
<div class="bd-toc-item">
    <BSNavLink class="bd-toc-link" href="" Match=NavLinkMatch.All>
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </BSNavLink>   <ul class="nav bd-sidenav"></ul>
</div>
<div class="bd-toc-item">
    <BSNavLink class="bd-toc-link" href="speech">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Speech
    </BSNavLink>   <ul class="nav bd-sidenav"></ul>
</div>
<div class="bd-toc-item">
    <BSNavLink class="bd-toc-link" href="navbargen">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Navbar Gen
    </BSNavLink>   <ul class="nav bd-sidenav"></ul>
</div>